/*estilo registro de usuarios*/
.form_carga{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: 100vh;
  }
  .form {
    background-color: #F2F3F4;
    width: 400px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
  }
  .inputContainer{
    flex-direction: column;
    margin-bottom: 10px;
  }
  .boton{
    display: block;
    padding: 6px 6px;
    cursor: pointer;
    font-size: 12px;
  }
  .boton-subir{
    border: 0.5px solid #5D6D7E; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #5D6D7E; /*color botón*/
    color: white; /*color texto*/
    text-transform: uppercase; /*capitalización texto*/
    border-radius: 6px; /*bordes redondos*/
    text-decoration:none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);

    align-items: center;
  }
  .boton-subir:hover {
    background-color: #3498DB;
    border: 0.5px solid #3498DB;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    color: white;
   }