/** Hoja de estilos **/

/*Selector universal*/
*{
    margin: 10px;/*el margen de la hoja*/
    padding: 10px;/*el espacio de relleno*/
    box-sizing: border-box; /*para que no se desborden las cajas unas con otras*/
    font-family: 'Audiowide', Arial, Helvetica, sans-serif; /*establece una lista de fuentes */
}

.flex-contenedor {
    background: white;
    display: flex;
    flex-flow: column wrap;
    justify-content: stretch;
    /*align-content: center;*/
}
    .header {
        background: lightseagreen;
        align-self: flex-start;
    }

    .contenedor {
        background: black;
        justify-content: center;
        
        display: flex;

    }
        .menu{
         background: violet;
         display: flex;
         align-self: center;
        }

        .info {
         background: green;
         display: flex;
         align-self: center;
         margin-left: auto;
        }

    .footer {
        background: orange;
        align-self: flex-end;

    }