/** Hoja de estilos **/

/*Selector universal*/
*{
    margin: 10px;/*el margen de la hoja*/
    padding: 100px;/*el espacio de relleno*/
    box-sizing: border-box; /*para que no se desborden las cajas unas con otras*/
    font-family: 'Audiowide', Arial, Helvetica, sans-serif; /*establece una lista de fuentes */
}

.flex-contenedor {
    background: white;
    display: flex;
    flex-flow: column wrap;
    justify-content: stretch;
    /*align-content: center;*/
}
    .header {
        background: lightseagreen;
        align-self: flex-start;
    }

    .contenedor1 {
        background: violet;
        align-self: center;
        

    }

    .contenedor2 {
        background: green;
        align-self: center;
        margin-left: auto;
    }

    .footer {
        background: orange;
        align-self: flex-end;

    }